<h1>Admin</h1>
<ul>
	<li><%= link_to("See all Adjectives", "#{root_path}admin/adjectives") %></li>
	<li><%= link_to("See all Nouns", "#{root_path}admin/nouns") %></li>
	<li><%= link_to("See all Prepositional Phrases", "#{root_path}admin/prep_phrases") %></li>
	<li><%= link_to("See all No-Options", "#{root_path}admin/no_options") %></li>
</ul>