<h1>Admin</h1>
<ul>
	<li><%= link_to("See all Adjectives", "/adjectives", :class => 'new-link') %></li>
	<li><%= link_to("See all Nouns", "/nouns", :class => 'new-link') %></li>
	<li><%= link_to("See all Prepositional Phrases", "/prep_phrases", :class => 'new-link') %></li>
	<li><%= link_to("See all No-Options", "/no_options`", :class => 'new-link') %></li>
</ul>