<!DOCTYPE html>
<html>
<head>
  <title>Target Audience -- Admin</title>
  <%= stylesheet_link_tag    "admin" %>
  <%= csrf_meta_tags %>
</head>
<body class=x"admin">
<div id="container">
<%= yield %>
</div>
</body>
</html>