<!DOCTYPE html>
<html>
<head>
  <title>Who's My Target Audience?</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class = "demo">

<%= yield %>

</body>
</html>
